@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 

.clip{
  clip-path: polygon(0% 80%, 0% 0%, 100% 0%, 100% 100% );
}

.clipInverse {
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 80% );
}

.robotJump {
  animation-name: robotJump;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  
}

/* .robotRotate{
  animation-name: robotRotate;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-timing-function: ease-in-out;
} */

@keyframes robotJump {
  0%{
    margin-bottom: 14px;
  }
  25%{
    margin-bottom: 0;
  }
  50%{
    margin-bottom: 10px;
  }
  100%{
    margin-bottom: 0;
  }
}

@keyframes robotRotate {
  0%{
    transform: rotate(30deg);
  }
  25%{
    transform: rotate(-30deg);
  }
  50%{
    transform: rotate(30deg);
  }
  75%{
    transform: rotate(-30deg);
  }
  100%{
    transform: rotate(0deg);
  }

}
